html,
canvas,
body,
#react-container,
#routeContainer {
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.app-container {
  display: inline-block;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

#dateForGantt {
  float: left;
  border-top: 1.5px solid silver; 
  /* border-left: 1.5px solid silver; */
  border-bottom: 1.5px solid silver;
  text-align: center;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  width: 25%;
  /* margin-top: 20px; */
  /* height:100%; */
}

#dateForGantt .header {
  border-bottom: 1px solid silver;
  border-left: 1.5px solid silver;
  background-color:rgb(51, 51, 51);
  font-size: 12px;
  line-height: 18px;
  color: white;
  height: 60px;
  /* padding: 21px 11px 21px 11px; */
  padding-right: 11px; 
  padding-left: 11px;
}

#dateForGantt .non-header {
  border-bottom: 1px solid silver!important;
  border-left: 1.5px solid silver!important;
  border-right: 1.5px solid silver!important;
  height: 19px;
}

/* #dateForGantt .non-header .ant-button{
  width: 10px;
} */

#dateForGantt .non-header .danger{
  color: red;
}

#dateForGantt .ant-picker {
  height: 9.5px;
  /* border: transparent; */
}

#dateForGantt .ant-input-number .ant-input-number-sm {
  height: 9.5px!important; 
}

.time-line-container {
  display: block;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  float: left;
  width: 75%;
  height: 100%;
  /* padding-top: 20px; */
}

.time-line-container .timeLine-side-task-row {
  height: 21px;
}

#ganttAddButton {
  z-index: 9999;
  position: fixed;
  /* align-items: center; */
  line-height: 18px;
  /* height: 45px; */
  /* width: 45px; */
  left: 95%;
  top: 70%;
  transform: translate(-50%,-50%);
  /* border-radius: 95%; */
}

#ganttDeleteButton {
  z-index: 9999;
  position: fixed;
  left: 95%;
  top: 77%;
  transform: translate(-50%,-50%);
}

.list {
  width: 200px;
  height: 50%;
  border: solid 1px silver;
  border-radius: 10px;
  box-shadow: 2px 2px silver;
}
.itemRenderer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: solid 1px silver;
  background-color: white;
  color: silver;
  width: 100%;
  padding: 5px;
}

.itemRendererSelected {
  background-color: rgb(219, 223, 230);
}

.itemRenderer:hover {
  background-color: rgb(219, 223, 230);
}
.itemImage {
  flex: 1 0 40px;
  border-radius: 30px;
  width: 40px;
}
.itemTitleContainer {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 4px;
}

.itemTitle {
  color: grey;
  font-size: 14px;
  align-self: center;
}
.itemContent {
  color: silver;
  font-size: 10px;
  align-self: center;
}

.nav-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%); 
  background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%);
  height: 50px;
  color: grey;
  align-items: center;
}

.mode-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  justify-self: flex-end;
  margin: 0px 20px;
}
.mode-container-title {
  margin: 0px 20px;
  flex: 1 1 auto;
  margin: 0px 20px;
  text-shadow: 0.5px 0.5px white;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  font-weight: bolder;
}

.mode-container-item {
  flex: 0 0 auto;
  width: 80px;
  padding: 5px;
  border: solid 1px silver;
  background-color: #333333;
  color: white;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}

.operation-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  justify-self: flex-end;
}

.mode-button {
  background-color: #333333;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin: 0px 3px;
}

.mode-button:hover {
  background-color: rgb(202, 33, 212);
}

.mode-container-item-left {
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
}

.mode-container-item-right {
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
}

.mode-container-item-editable-toggle {
  margin-left: 20px;
  width: 150px;
}
